body{
    margin: 0;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/background-desktop.png);
    background-size: cover;
    background-position: center;
    pointer-events: none;
    overflow: hidden;
}

.bg-img{
    position:absolute;

}

.img1{
    bottom: 0;
}
.img2{
    top: 0;
    right: 0;
}
.img3{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.img4{
    top:45%;
    right:15%;
}
.img5{
    top: -90px;
    left:40px;
}
@font-face {
    font-family: "Inconsolata";
    src: url(/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf); 
}
@font-face {
    font-family: "Inconsolata light";
    src: url(/assets/fonts/static/Inconsolata-Regular.ttf);
}

.header{
    text-align: center;
    padding-top: 30px;
}

.header2{
    text-align: center;
    font-family: "Inconsolata";
    color: white;
    font-size: 20px;
    padding-top:30px;
}

.message{
    text-align: center;
    font-family: "Inconsolata light";
    color: hsl(252, 6%, 83%);
    font-size: 14px;
}

.sub-text{
    display:block;
    font-size: 1.5rem;
    margin-top: 10px;;
}

form{
    position: absolute;
    top: 35%;
    right: 40%;
}