body{
    margin: 0;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/images/background-desktop.png);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.bg-img{
    position:absolute;

}

.img1{
    bottom: 0;
}
.img2{
    top: 0;
    right: 0;
}
.img3{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.img4{
    top:45%;
    right:15%;
}
.img5{
    top: -90px;
    left:40px;
}
@font-face {
    font-family: "Inconsolata";
    src: url(/assets/fonts/Inconsolata-VariableFont_wdth\,wght.ttf); 
}
@font-face {
    font-family: "Inconsolata light";
    src: url(/assets/fonts/static/Inconsolata-Regular.ttf);
}

.header{
    text-align: center;
    padding-top: 30px;
}

.header2{
    text-align: center;
    font-family: "Inconsolata";
    color: white;
    font-size: 15px;
    padding-top:20px;
}

.message{
    text-align: center;
    font-family: "Inconsolata light";
    color: hsl(252, 6%, 83%);   
    font-size: 14px;
}

.sub-text{
    display:block;
    font-size: 1.5rem;
    margin-top: 10px;;
}

form{
    position: absolute;
    
    right: 40%;
}

form label{
    display:flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 15px;
    color: white;
    font-family: "Inconsolata";
}
form input{
    width: 110%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid hsl(245, 19%, 35%);
    background: rgba(255, 255, 255, 0.05);
    color: white;
}
form button {
    width: 119%;
    margin-top: 20px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: hsl(7, 88%, 67%);
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.upload-box{
    width:119%;
    margin-top: 10px;
}
.upload-label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 35px;
    border-radius: 15px;
    border: 2px dashed hsl(245,19%,35%);
    background: rgba(255, 255, 255, 0.05);
    color: hsl(252, 6%, 83%);
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}
.upload-box input[type="file"] {
    display: none;
}